body {
  height: 100vh;
  margin: 0;
  width: 100vw;
  position: fixed;
}

.wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
}

canvas {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 0;
}

img {
  height: 250px;
  position: absolute;
  width: 250px;
}

.blurb {
  color: white;
  position: absolute;
}

.blurb h1 {
  font-size: 48px;
  margin: 0;
}

.blurb h3 {
  margin: 0;
}