* {
  cursor: crosshair !important;
}

body {
  margin: 0;
}

canvas {
  pointer-events: none;
  position: fixed;
}

img {
  height: 250px;
  position: absolute;
  width: 250px;
}

body {
  background: center/cover white url(starfield.gif);
  cursor: none;
  height: 100vh;
  opacity: 50;
  position: fixed;
  width: 100vw;
}

.blurb {
  color: white;
  margin-left: 15px;
  margin-top: 15px;
}

.blurb h1 {
  font-size: 48px;
  margin: 0;
}

.blurb h3 {
  margin: 0;
}