body {
  height: 100vh;
  margin: 0;
  width: 100vw;
  position: fixed;
  font-family: lato;
  
}

.wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
}

canvas {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 0;
}

.blurb {
  top: 10px;
  left: 10px;
  color: white;
  position: absolute;
}

.blurb .name {
  font-weight: 100;
  font-size: 48px;
}

.blurb .sub-text {
  font-weight: 100;
  font-size: 24px;
}

.neon {
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em var(--lighter-color), 0 0 0.6em var(--base-color), 0 0 0.8em var(--base-color), 0 0 1em var(--base-color), 0 0 1.2em var(--base-color)
}