* {
  cursor: crosshair !important;
}

body {
  margin: 0;
}

img {
  height: 250px;
  position: absolute;
  width: 250px;
}

#bg {
  background: center/cover white url(starfield.gif);
  cursor: none;
  opacity: 50;
  position: fixed;
  z-index: -1;
}
